<section id="faq" class="faq section-bg">
    <div class="container">

      <div class="section-title">
        <h2>Ostali predmeti sa naše katedre</h2>
      </div>

      <div class="row  d-flex align-items-stretch">

        <div class="col-lg-12 faq-item" data-aos="fade-up">
       
            <h4>I semestar</h4>
            <table>
              
                <tr >
                    
                    <th>Naziv predmeta</th>
                   
                    
                </tr>
                <tr>
                    
                </tr>
                <tr *ngFor="let predmet of prvi">

                    <td>
                      <a class="link" (click)="radi(predmet)">
                        {{predmet.naziv}}
                      </a>
                    </td>
                    

                </tr>
              
            </table>
        
        </div>
        <div class="col-lg-12 faq-item" data-aos="fade-up">
       
            <h4>II semestar</h4>
            <table>
              
                <tr >
                    
                    <th>Naziv predmeta</th>
                   
                    
                </tr>
                <tr>
                    
                </tr>
                <tr *ngFor="let predmet of drugi">

                    <td>
                      <a class="link" (click)="radi(predmet)">
                        {{predmet.naziv}}
                      </a>
                    </td>
                    

                </tr>
              
            </table>
        
        </div>
        <div class="col-lg-12 faq-item" data-aos="fade-up">
       
            <h4>III semestar</h4>
            <table>
              
                <tr >
                    
                    <th>Naziv predmeta</th>
                   
                    
                </tr>
                <tr>
                    
                </tr>
                <tr *ngFor="let predmet of treci">

                    <td>
                      <a class="link" (click)="radi(predmet)">
                        {{predmet.naziv}}
                      </a>
                    </td>
                    

                </tr>
              
            </table>
        
        </div>
        <div class="col-lg-12 faq-item" data-aos="fade-up">

         
       
            <h4>IV semestar</h4>
            <div *ngIf="cetvrti.length==0">
                Trenutno nemamo predmeta u ovom semestru
            </div>
            <div *ngIf="cetvrti.length!=0">
                <table>
              
                    <tr >
                        
                        <th>Naziv predmeta</th>
                       
                        
                    </tr>
                    <tr>
                        
                    </tr>
                    <tr *ngFor="let predmet of cetvrti">
    
                        <td>
                          <a class="link" (click)="radi(predmet)">
                            {{predmet.naziv}}
                          </a>
                        </td>
                        
    
                    </tr>
                  
                </table>
            </div>
          
        
        </div>
        <div class="col-lg-12 faq-item" data-aos="fade-up">

         
       
            <h4>V semestar</h4>
            <div *ngIf="peti.length==0">
                Trenutno nemamo predmeta u ovom semestru
            </div>
            <div *ngIf="peti.length!=0">
                <table>
              
                    <tr >
                        
                        <th>Naziv predmeta</th>
                       
                        
                    </tr>
                    <tr>
                        
                    </tr>
                    <tr *ngFor="let predmet of peti">
    
                        <td>
                          <a class="link" (click)="radi(predmet)">
                            {{predmet.naziv}}
                          </a>
                        </td>
                        
    
                    </tr>
                  
                </table>
            </div>
          
        
        </div>
        <div class="col-lg-12 faq-item" data-aos="fade-up">

         
       
            <h4>VI semestar</h4>
            <div *ngIf="sesti.length==0">
                Trenutno nemamo predmeta u ovom semestru
            </div>
            <div *ngIf="sesti.length!=0">
                <table>
              
                    <tr >
                        
                        <th>Naziv predmeta</th>
                       
                        
                    </tr>
                    <tr>
                        
                    </tr>
                    <tr *ngFor="let predmet of sesti">
    
                        <td>
                          <a class="link" (click)="radi(predmet)">
                            {{predmet.naziv}}
                          </a>
                        </td>
                        
    
                    </tr>
                  
                </table>
            </div>
          
        
        </div>
        <div class="col-lg-12 faq-item" data-aos="fade-up">

         
       
            <h4>VII semestar</h4>
            <div *ngIf="sedmi.length==0">
                Trenutno nemamo predmeta u ovom semestru
            </div>
            <div *ngIf="sedmi.length!=0">
                <table>
              
                    <tr >
                        
                        <th>Naziv predmeta</th>
                       
                        
                    </tr>
                    <tr>
                        
                    </tr>
                    <tr *ngFor="let predmet of sedmi">
    
                        <td>
                          <a class="link" (click)="radi(predmet)">
                            {{predmet.naziv}}
                          </a>
                        </td>
                        
    
                    </tr>
                  
                </table>
            </div>
          
        
        </div>
        <div class="col-lg-12 faq-item" data-aos="fade-up">

         
       
            <h4>VIII semestar</h4>
            <div *ngIf="osmi.length==0">
                Trenutno nemamo predmeta u ovom semestru
            </div>
            <div *ngIf="osmi.length!=0">
                <table>
              
                    <tr >
                        
                        <th>Naziv predmeta</th>
                       
                        
                    </tr>
                    <tr>
                        
                    </tr>
                    <tr *ngFor="let predmet of osmi">
    
                        <td>
                          <a class="link" (click)="radi(predmet)">
                            {{predmet.naziv}}
                          </a>
                        </td>
                        
    
                    </tr>
                  
                </table>
            </div>
          
        
        </div>


     
           
           </div>

      </div>

    
  </section><!-- End Frequently Asked Questions Section -->