<section id="contact" class="contact">
    <div class="container">
        <h3 align="center">Registracija</h3>
<div class="col-lg-12" data-aos="fade-up" data-aos-delay="300">
  <form  role="form" class="php-email-form">
      <div class="row" align="center">
        
        
        <div class="col-lg-12 form-group">
          Tip studija : &nbsp; &nbsp; &nbsp;
         <select name="tip" [(ngModel)]="tip">
           <option value="d">Osnovne studije</option>
           <option value="m">Master studije</option>
           <option value="p">Doktorske studije</option>
         </select>
         <div class="poruka">
           {{poruka0}}
         </div>
        </div>
        <div class="col-lg-12 form-group">
          <input type="text" name="ime" placeholder="Ime" [(ngModel)]="ime" />
          <div class="poruka">

            {{poruka1}}

          </div>
        </div>
        <div class="col-lg-12 form-group">
          <input type="text" name="prezime" placeholder="Prezime" [(ngModel)]="prezime"/>
          <div class="poruka">
            {{poruka2}}
          </div>
        </div>
        
       

      </div>
     
     
      <div class="text-center"><button type="submit" (click)="radi()">Registruj se</button></div>
      <div class="uspeh">
        {{poruka3}} 
      </div>
     <div *ngIf="username">
      <table>
        <tr>
          <td>Korisnicko ime :</td>
          <td>Lozinka</td>
          <td>Indeks</td>
          <td>Status</td>
        </tr>
        <tr>
          <td name="username">
            {{username}}
          </td>
          <td name="password">
            {{password}}
          </td>
          <td name="indeks">
            {{indeks}}
          </td>
          <td name="status">
            {{status}}
          </td>
        </tr>
      </table>
     </div>
      <br>
      <br>
      <br>
    <div align="center">
      <a routerLink='../prijava'>Natrag na prijavu</a>
     
    </div>
  </form>
  </div>
  <router-outlet></router-outlet>
    </div>
  
</section>
