<br>
<br>
<br>
<h1 align="center">
    Projekti ponude 
</h1>
<section class="about-lists">
    <div class="container">

      <div class="row no-gutters">

        <div class="col-lg-4 col-md-6 content-item" data-aos="fade-up">
          <span>01</span>
          <h4>Ministarstvo prosvete, nauke i tehnološkog razvoja</h4>
          <p>Softversko inženjerstvo i nove tehnologije u računarstvu (SINTRA)</p>
        </div>

        <div class="col-lg-4 col-md-6 content-item" data-aos="fade-up" data-aos-delay="100">
          <span>02</span>
          <h4>Univerzitet u Beogradu</h4>
          <p>Information Security Services Education in Serbia</p>
        </div>

        <div class="col-lg-4 col-md-6 content-item" data-aos="fade-up" data-aos-delay="200">
          <span>03</span>
          <h4>Udruženje anesteziologa i intenzivista Srbije </h4>
          <p>Realizacija sajta udruženja anesteziologa i intenzivista Srbije </p>
        </div>

        <div class="col-lg-4 col-md-6 content-item" data-aos="fade-up" data-aos-delay="300">
          <span>04</span>
          <h4>EPS distribucija d.o.o Beograd</h4>
          <p>Poslovno informacioni sistem</p>
        </div>

        <div class="col-lg-4 col-md-6 content-item" data-aos="fade-up" data-aos-delay="400">
          <span>05</span>
          <h4>Komercijalni projekti sa ministarstvima i državnim organima</h4>
          <p>Nabavka aplikativnog softvera za prikupljanje podataka u postupku akreditacije fakulteta</p>
        </div>

        <div class="col-lg-4 col-md-6 content-item" data-aos="fade-up" data-aos-delay="500">
          <span>06</span>
          <h4>Komercijalni projekti sa lokalnim upravama</h4>
          <p>Softver za evidenciju matičnih knjiga (OpiS)</p>
        </div>

      </div>

    </div>
  </section><!-- End About Lists Section -->