<section id="about" class="about">
    <div class="container">

      <div class="row no-gutters">
        <div class="col-lg-6 video-box">
          <img src="assets/img/slide/1.jpg" class="img-fluid" alt="">
          <a href="https://www.youtube.com/watch?v=HputSaGz3sE&t=31s" class="venobox play-btn mb-4" data-vbtype="video" data-autoplay="true"></a>
        </div>

        <div class="col-lg-6 d-flex flex-column justify-content-center about-content">

          <div class="section-title">
            <h2>Korisni linkovi</h2>
           
          </div>

         
          <div>
              <ul>
                  <li><a href="https://www.nature.com/articles/s41598-020-79310-1">Facial recognition technology can expose political orientation from naturalistic facial images</a></li>
                  <li><a href="https://www.nature.com/articles/s41928-020-00515-3">Illusion of large on-chip memory by networked computing chips for neural network inference</a></li>
                  <li>
                    <a href="https://www.nature.com/articles/s41598-020-79447-z">Interplay between success and patterns of human collaboration: case study of a Thai Research Institute</a>
                  </li>
                  <li>
                      <a href="https://www.nature.com/articles/s41598-020-79777-y">A quantum circuit simulator and its applications on Sunway TaihuLight supercomputer</a>
                  </li>
                  <li>
                      <a href="https://www.nature.com/articles/s41598-020-78902-1">An interactive holographic projection system that uses a hand-drawn interface with a consumer CPU</a>
                  </li>
                  <li>
                      <a href="https://www.nature.com/articles/s41467-020-20206-z">Survey data and human computation for improved flu tracking</a>
                  </li>
               
              </ul>
          </div>
        </div>
      </div>

    </div>
  </section><!-- End About Us Section -->
