<section id="faq" class="faq section-bg">
    <div class="container">

      <div class="section-title">
        <h2>Informacije o predmetu</h2>
      </div>

      <div class="row  d-flex align-items-stretch">

        <div class="col-lg-6 faq-item" data-aos="fade-up">
         <h4>Naziv : {{predmet.naziv}}</h4>
        
            <table>
              
                <tr>
                    <th>Tip </th>
                    <td>
                        {{predmet.tip}}
                    </td>
                </tr>
                <tr>
                    <th>Semestar</th>
                    <td>
                        {{predmet.semestar}}
                    </td>
                    
                </tr>
                <tr>
                    <th>Šifra predmeta</th>
                    <td>
                        {{predmet.sifra}}
                    </td>
                </tr>
                <tr>
                    <th>Fond casova</th>
                    <td>
                      {{predmet.fond_casova}}
                    </td>
                </tr>
                <tr>
                    <th>Broj bolonjskih bodova</th>
                    <td>
                        {{predmet.espb}}
                    </td>
                </tr>
                <tr>
                    <th>Cilj predmeta</th>
                    <td>
                        {{predmet.cilj}}
                    </td>
                </tr>
                <tr>
                    <th>Termin predavanja</th>
                    <td>
                        {{predmet.termin_predavanja}}
                    </td>
                </tr>
                <tr>
                    <th>Termin vežbi</th>
                    <td>
                        {{predmet.termin_vezbi}}
                    </td>
                </tr>
                <tr>
                    <th>Postojanje lab vežbi</th>
                    <td>
                        {{predmet.lab_vezbe}}
                    </td>
                </tr>
              

            </table>
        
        </div>

      
          
         
           

    </div>
    </div>
  </section><!-- End Frequently Asked Questions Section -->