<section id="faq" class="faq section-bg">
    <div class="container">

      <div class="section-title">
        <h2>Projekti naše katedre</h2>
      </div>

      <div class="row  d-flex align-items-stretch">

        <div class="col-lg-6 faq-item" data-aos="fade-up">
         <h4>Prostorni, ekološki, društveni aspekti razvoja naselja i klimatske promene-medjusobni uticaji</h4>
        
            <table>
              
                <tr>
                    <th>Tip projekta</th>
                    <td>Nauka-tehnološki razvoj</td>
                </tr>
                <tr>
                    <th>Rukovodilac</th>
                    <td>prof dr Slavko Gajin</td>
                    
                </tr>
                <tr>
                    <th>Finansijer</th>
                    <td>Ministarstvo za nauku i tehnološki razvoj</td>
                </tr>

            </table>
        
        </div>

        <div class="col-lg-6 faq-item" data-aos="fade-up">
            <h4>Realizovanje telekomunikacione infrastrukture neophodne za funkcionisanje RNIDS-a</h4>
           
               <table>
                 
                   <tr>
                       <th>Tip projekta</th>
                       <td>Komercijalni projekti sa ministarstvima i državnim organima</td>
                   </tr>
                   <tr>
                       <th>Rukovodilac</th>
                       <td>prof dr Boško Nikolić</td>
                       
                   </tr>
                   <tr>
                       <th>Finansijer</th>
                       <td>Fondacija "Registar NACIONALNOG INTERNET DOMENA SRBIJE"</td>
                   </tr>
   
               </table>
           
           </div>
           <div class="col-lg-6 faq-item" data-aos="fade-up">
            <h4>Еnhancing Western Balkan e Goverment Expertise ( We-Go)</h4>
           
               <table>
                 
                   <tr>
                       <th>Tip projekta</th>
                       <td>Medjunarodni FP projekti</td>
                   </tr>
                   <tr>
                       <th>Rukovodilac</th>
                       <td>prof dr Veljko Milutinović</td>
                       
                   </tr>
                   <tr>
                       <th>Finansijer</th>
                       <td>"AUSTRIAN RESEARCH CENTERS - ARC" GMBH</td>
                   </tr>
   
               </table>
           
           </div>
           <div class="col-lg-6 faq-item" data-aos="fade-up">
            <h4>SEE-GRID-SCI-SEE-GRID eInfrastructure for regional eScience (SEE-GRID-SCI) FP 7</h4>
           
               <table>
                 
                   <tr>
                       <th>Tip projekta</th>
                       <td>Medjunarodni FP projekti</td>
                   </tr>
                   <tr>
                       <th>Rukovodilac</th>
                       <td>prof dr Zaharije Radivojević</td>
                       
                   </tr>
                   <tr>
                       <th>Finansijer</th>
                       <td>Ministarstvo za nauku i tehnološki razvoj</td>
                   </tr>
   
               </table>
           
           </div>
           <div class="col-lg-6 faq-item" data-aos="fade-up">
            <h4>Informac.sis.i monitoring racun.mreze NetllS</h4>
           
               <table>
                 
                   <tr>
                       <th>Tip projekta</th>
                       <td>Komercijalni projekti sa javnim preduzećima</td>
                   </tr>
                   <tr>
                       <th>Rukovodilac</th>
                       <td>prof dr Slavko Gajin</td>
                       
                   </tr>
                   <tr>
                       <th>Finansijer</th>
                       <td>EPS distribucija d.o.o Beograd</td>
                   </tr>
   
               </table>
           
           </div>
           <div class="col-lg-6 faq-item" data-aos="fade-up">
            <h4>Information Security Services Education in Serbia</h4>
           
               <table>
                 
                   <tr>
                       <th>Tip projekta</th>
                       <td>ERAZMUS +K2</td>
                   </tr>
                   <tr>
                       <th>Rukovodilac</th>
                       <td>prof dr Igor Tartalja</td>
                       
                   </tr>
                   <tr>
                       <th>Finansijer</th>
                       <td>Univerzitet u Beogradu</td>
                   </tr>
   
               </table>
           
           </div>

      </div>

    </div>
  </section><!-- End Frequently Asked Questions Section -->