<table >
    <tr>
        <th >Naslov</th>
      
        <th>Sadrzaj</th>
        <th>Datum</th>
    </tr>
    <tr>

    </tr>
    
    <tr *ngFor="let obv of svaObavestenja" [class.nevalja]="checkDates(obv.datum)">
        

        

      

        <td>
            {{obv.naslov}}
        </td>
        
        <td>
            {{obv.sadrzaj}}
        </td>
        <td>
            {{obv.datum}}
        </td>
       
    </tr>
</table>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<br>
<br>
<br>
<br>
<br>