  <!-- ======= Header ======= -->
  <header id="header">
    <div class="container d-flex">
      
   
      <nav class="nav-menu float-right d-none d-lg-block">
        <ul>
            <li class="active"><a id="bam" routerLink="infoPredmetNastavnik">O predmetu</a></li>
          <li ><a  routerLink="predavanjePredmetNastavnik">Predavanja</a></li>
         
          
         
         
          <li><a routerLink="vezbePredmetNastavnik" >Vežbe</a></li>
          
          <li><a routerLink="ispitnaPitanjaPredmetNastavnik" >Ispitna pitanja</a></li>
          <li><a routerLink="labPredmetNastavnik" >Laboratorija</a></li>
        </ul>
      </nav><!-- .nav-menu -->

    </div>
  </header><!-- End Header -->
  
  <router-outlet></router-outlet>
  