  <!-- ======= Header ======= -->
  <header id="header">
    <div class="container d-flex">
      
      <div class="logo me-auto">
        <h1 class="text-light"><a routerLink="" id="btn"><span>RTI katedra</span></a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>

      <nav class="nav-menu float-right d-none d-lg-block">
        <ul>
          <li class="active"><a id="radi" routerLink="predmetObavestenje">Obaveštenja</a></li>
          <li><a routerLink="informacijePredmet">Informacije </a></li>
          <li><a routerLink="predmetPredavanja">Predavanja</a></li>
          <li><a routerLink="vezbePredmet">Vežbe</a></li>
          <li><a routerLink="predmetPitanja">Ispitnja pitanja</a></li>
          <li><a routerLink="predmetLab">Laboratorija</a></li>
          
         
      
          
       
        </ul>
      </nav><!-- .nav-menu -->

    </div>
  </header><!-- End Header -->
  
  <router-outlet></router-outlet>
  