<section id="contact" class="contact">
    <div class="container">

      <div class="section-title">
        <h2>Kontakt</h2>
      </div>

      <div class="row">

        <div class="col-lg-6 d-flex align-items-stretch" data-aos="fade-up">
          <div class="info-box">
            <i class="bx bx-map"></i>
            <h3>Naša adresa :</h3>
            <p>Bulevar kralja Aleksandra 73</p>
          </div>
        </div>

        <div class="col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
          <div class="info-box">
            <i class="bx bx-envelope"></i>
            <h3>Pošaljite nam email</h3>
            <p>rti@etf.bg.ac.rs<br>rtikatedtra@etf.bg.ac.rs</p>
          </div>
        </div>

        <div class="col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
          <div class="info-box ">
            <i class="bx bx-phone-call"></i>
            <h3>Pozovite nas </h3>
            <p>011/ 3226-760 <br>011/ 324-8681</p>
          </div>
        </div>

       

      </div>
     <div align="center">
      <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d5661.547534192605!2d20.476434!3d44.805799!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x3ed89b5bb505d83!2sUniversity%20of%20Belgrade%20School%20of%20Electrical%20Engineering!5e0!3m2!1sen!2srs!4v1610380464431!5m2!1sen!2srs" width="1200" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    </div>
    </div>
  </section><!-- End Contact Us Section -->